/* ---------------- Profile edite ---------------- */
.profile-update-sec{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color:rgb(0 0 0 / 64%);
    z-index: 999;
}
.profile-update-sec.active-edite{
    display: block;
}
.profile-picture-upt{
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    width: 40%;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px 15px;
}
.profile-picture-upt h3{
    font-size: 18px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: solid 1px #cccccc;
}
.close-btn{
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 20px;
    border:none;
    border-radius: 0;
    background-color: transparent;
}
.close-btn:focus{
    outline: 0;
}
.profile-picture-upt .picture-img{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    /* background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; */
    overflow: hidden;
    border: solid 1px #ccc;
    border-radius: 5px;
}
.profile-picture-upt .picture-img:after{
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 440px;
    height: 440px;
    border-radius: 50%;
    box-shadow: inset 0px 0 0px 95px rgb(0 0 0 / 61%);
    transform: translate(-50%, -50%);
}
.picture-img .inner-img{
    width: 280px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 50%; */
    overflow: hidden;
}
.inner-img i{
    font-size: 150px;
    color: #cccccc;
}
.picture-img .upload-btn-sec{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.picture-img .upload-btn-sec .upload-btn{
    background-color: transparent;
    color: #555;
    background-color: #f5f5f5;
    padding: 10px 15px;
    border: solid 1px #ccc;
    font-weight: 400;
    font-size: 20px;
    
}
.picture-img .upload-btn-sec .upload-btn:focus{
    outline: 0;
}
/* .profile-picture-upt .picture-img:after{
    content: "Upload Image";
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 20px;
    padding: 5px 15px;
    color: #999;
    transform: translate(-50%, -50%);
    z-index: -1;

} */
.picture-img img{
    display: block;
    width: 100%;
}
.picture-update-btn{
    padding: 20px 0 10px 0;
    text-align: right;
}
.picture-update-btn .btn{
    border-radius: 25px;
    padding: 5px 30px;
    margin:10px 5px 0 5px;
    /* box-shadow: 1px 2px 5px #999; */
}
.picture-update-btn .btn:focus{
    outline: 0;
}
/* .picture-update-btn .btn-primary{
    display: none;
} */
.upload-btn-sec{
    display: inline-block;
    transform: translateY(5px);
}
.picture-update-btn .upload-btn{
    display: inline-block;
    padding: 0px 25px;
    margin: 0;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-weight: normal;
    font-size: 14px;
    /* border-radius: 50%; */
    /* border: 1px solid #5b2d91; */
    /* background-color: #5b2d91; */
    cursor: pointer;
}
.picture-update-btn .upload-btn:focus{
    outline: 0;
}
.upload-btn-sec input[type="file"] {
    display: none;
}
.upload-btn .picture-pictr {
    display: inline-block;
    padding: 0px 25px;
    margin: 0;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-weight: normal;
    font-size: 14px;
    /* border-radius: 50%; */
    /* border: 1px solid #5b2d91; */
    /* background-color: #5b2d91; */
    cursor: pointer;
}
.close-btn{
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 20px;
    border:none;
    border-radius: 0;
    background-color: transparent;
}
.close-btn:focus{
    outline: 0;
}