<div class="add-candidates container">
    <div class="row">
        <div class="col-sm-3 w-230">
            <sidebar></sidebar>
        </div>
        <div class="col-sm-7">
            <div class="add-details-form">
                <div class="form-title">
                    <h3>Profile</h3>
                </div>
                <form >
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="firstname">First Name *</label>
                                <input type="text" class="form-control" id="firstname" >
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="lastname">Last Name *</label>
                                <input type="text" class="form-control" id="lastname" >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="email">Email address *</label>
                                <input type="email" class="form-control" id="email" placeholder="Enter valid Email Id">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="contactno">Contact No *</label>
                                <input type="text" class="form-control" id="contactno" placeholder="Mobile No.">
                            </div>
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <label >Are you a fresher? * </label>   
                        <div class="radio-option">
                            <label class="radio-inline">
                                <input type="radio" name="optradio" >Yes
                            </label>
                        
                            <label class="radio-inline">
                                <input type="radio" name="optradio">No
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="locality">Locality *</label>
                                <input type="text" class="form-control" id="locality" placeholder="Enter your locality">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name">City *</label>
                                <input type="text" class="form-control" id="city" placeholder="Enter your city">
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="skills_1">Skills *</label>
                        <input type="text" class="form-control" id="skills_1" placeholder="Ex: Html, CSS, Java....etc">
                    </div>
                    <div class="form-group">
                        <label for="ltemply">Last Employment *</label>
                        <input type="text" class="form-control" id="ltemply" placeholder="Your last employment">
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="cursalary">Current Salary *</label>
                                <input type="text" class="form-control" id="cursalary" placeholder="Your current salary">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="expsalary">Expected Salary *</label>
                                <input type="text" class="form-control" id="expsalary" placeholder="Expected salary">
                            </div>
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <label for="hobbies">Hobbies </label>
                        <input type="text" class="form-control" id="hobbies" placeholder="Enter your hobbies">
                    </div> -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="name">Profile *</label>
                                <input type="file" class="form-control" id="prifile">
                            </div>
                        </div>
                    </div>
                    <div class="form-btn">
                        <button type="submit" class="btn adddetails-btn">Add details</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>
